%div.large-12.columns
  - if !current_user.friends.include?(@user) && current_user != @user
    = link_to "Follow", friendships_path(:friend_id => @user), :method => :post, :class => "button"
  - elsif current_user != @user
    - for friendship in current_user.friendships
      - if friendship.friend == @user
        = link_to "Unfollow", friendship, :method => :delete, :class => "button"
  %h2 User Profile
  %ul
    - if @user.avatar.url.present?
      %li= image_tag @user.avatar.thumb
    %li= @user.first_name
    - if @user.last_name.present?
      %li= @user.last_name
    - else
      %li None provided
    %li= @user.email
    %li= @user.date_of_birth
    %li= @user.gender
  %h5 Projects
  %ul 
    - @user.projects.each do |p|
      %li= link_to p.name, project_path(p)

- if @user == current_user
  %h2 Users Who Follow You
  %ul
    - for user in @user.inverse_friends
      %li.button.tiny
        = link_to (image_tag user.avatar.thumb), user_path(user)
        = user.first_name + " " + user.last_name
  %h2 People You Follow
  %ul
    - for friendship in @user.friendships
      %li.button.tiny
        = link_to (image_tag friendship.friend.avatar.thumb), user_path(friendship.friend)
        = friendship.friend.first_name + " " + friendship.friend.last_name