<h1>Projects</h1>

<%= form_tag projects_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil, class: "button" %>
  </p>
<% end %>

<%= paginate @projects %>
<div id="projects">
  <% @projects.each do |project| %>
    <div>
      <h2><%= link_to project.name, project %></h2>
      <h4>Created by <%= link_to project.user[:first_name], user_path(project.user[:id]) %></h4>
      <h5><p><i>at <%= project.created_at.strftime("%l:%M %p") %> on  <%= project.created_at.strftime("%d %b. %Y") %></i></p></h5>
      <p>Description: <%= project.description %></p>
      <p>Tags: <%= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      <p><%= link_to "Edit Project", edit_project_path(project) if current_user.projects.include?(project)%></p>
    </div>
  <% end %>
</div>
<%= paginate @projects %>