#splash.row
  .small-12.columns
    .row
      .small-3.columns
        = image_tag ("splash/1.jpg")
        = image_tag ("splash/3.jpg")
      .small-6.columns
        .signinbox
          %h1 Welcome to AVBL
          %p Please sign in to continue,
          %p
            or
            = link_to 'Sign Up', new_user_registration_path
          = form_tag user_session_path do
            = text_field_tag 'user[email]',nil, :placeholder => 'Email'
            = password_field_tag 'user[password]',nil, :placeholder => 'Password'
            = check_box_tag 'user[remember_me]'
            = label_tag 'user[remember_me]', 'Remember me'
            %button Login
            = link_to "Forgot your password?", new_password_path('user')
      .small-3.columns
        = image_tag ("splash/2.jpg")
        = image_tag ("splash/4.jpg")
    .row
      .small-3.columns
        = image_tag ("splash/5.jpg")
      .small-3.columns
        = image_tag ("splash/6.jpg")
      .small-3.columns
        = image_tag ("splash/7.jpg")
      .small-3.columns
        = image_tag ("splash/8.jpg")
    .row
      .small-3.columns
        = image_tag ("splash/9.jpg")
      .small-3.columns
        = image_tag ("splash/10.jpg")
      .small-3.columns
        = image_tag ("splash/11.jpg")
      .small-3.columns
        = image_tag ("splash/12.jpg")