<div class="large-3 columns pull-6">
  <div class="panel">
    <% if user_signed_in? %>
      <%= link_to image_tag(current_user.avatar.thumb), dashboard_path %>
      <h5><%= link_to current_user.first_name.capitalize + " " + current_user.last_name.capitalize, dashboard_path %></h5>
    <% else %>
      <h6>Sign in to AVBL.</h6>
    <% end %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
      <% if user_signed_in? %>
      <section class="section">
        <h5 class="title"><%= link_to 'Projects', projects_path %></h5>
      </section>
      <section class="section">
        <h5 class="title"><%= link_to 'New Project', new_project_path %></h5>
      </section>
      <section class="section">
        <h5 class="title"><%= link_to 'Edit profile', edit_user_registration_path %></h5>
      </section>
      <section class="section">
        <h5 class="title"><%= link_to "Logout", destroy_user_session_path, method: :delete %></h5>
      </section>
      <% else %>
      <section class="section">
        <h5 class="title"><%= link_to "Sign up", new_user_registration_path %></h5>
      </section>
      <section class="section">
        <h5 class="title"><%= link_to "Login", new_user_session_path %></h5>
      </section>
      <% end %>
    </div>
  </div>
</div>